<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Slides</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="./css/reveal.css">
		<link rel="stylesheet" href="./css/theme/simple.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="./lib/css/zenburn.css">
        <link rel="stylesheet" href="./css/style.css">

		<!-- Printing and PDF exports -->
		<script>
		 var link = document.createElement( 'link' );
		 link.rel = 'stylesheet';
		 link.type = 'text/css';
		 link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
		 document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section id="intro" data-background="./img/telerik-bg.jpg">
                    <div class="nvs-logo-container">
                        <img src="./img/nvs-logo.svg" class="no-border" />
                    </div>
                    <h2 class="title">Kendo UI for Angular</h2>
                    <div><img alt="" src="./img/kendoka-08-350.png" width="300" class="no-border kendo-logo" /></div>
                </section>
                <section>
                    <section id="speaker-info" data-background="./img/telerik-bg.jpg">
                        <div class="speaker-img-container">
                            <img src="./img/speaker.jpg" width="200" />
                        </div>
		                <table class="speaker-contact-info">
			                <tbody>
			                    <tr>
				                    <td><img class="no-border" src="./img/email.png" width="50"></td>
				                    <td style="vertical-align:middle"> <a href="mailto:denis@newventuresoftware.com?Subject=Hello" target="_blank">denis@newventuresoftware.com</a></td>
			                    </tr>
			                    <tr>
				                    <td><img class="no-border" src="./img/github.png" width="50"></td>
				                    <td style="vertical-align:middle"> <a href="https://github.com/deniskyashif" target="_blank">github.com/deniskyashif</a></td>
			                    </tr>
                                <tr>
				                    <td><img class="no-border" src="./img/twitter.png" width="50"></td>
				                    <td style="vertical-align:middle"><a href="https://twitter.com/deniskyashif" target="_blank">@deniskyashif</a></td>
			                    </tr>
			                </tbody>
		                </table>
		            </section>
                    <section id="certifications">
		                <div>
			                <img width="300" class="no-border" src="./img/medallion_sitefitiny-certified---300-dpi.png" />
			                <img width="350" class="no-border" src="./img/KendoUI_Badge_Square_Certified_Big.png" />
		                </div>
		            </section>
                    <section data-background="./img/nvs-intro.PNG">                        </section>
                    <section id="nvs-partners" data-background="./img/nvs-partners.PNG"></section>
                    <section id="pug-emea" data-background-color="#15334B">
                        <a href="http://www.pugchallenge.eu/" target="_blank"><img src="./img/pug-emea.jpg" class="no-border" /></a>
                    </section>
                </section>
                <section id="agenda" class="color-white" data-background-image="./img/school-board.jpg">
                    <h3>Agenda</h3>
                    <ul>
                        <li class="fragment">TypeScript</li>
                        <li class="fragment">Angular</li>
                        <li class="fragment">Kendo UI for Angular</li>
                        <li class="fragment">Q&A</li>
                    </ul>
                </section>
                <section data-background-color="#000">
                    <p><em><strong>Say NO to the slow and painful</em></strong></p>
                    <img alt="" src="./img/death-by-ppt.jpg" width="500" class="no-border" />
                </section>
                <section>
                    <h4>We'll make it interactive</h4>
                    <img alt="" src="./img/programmer-cat.jpg" width="500" />
                </section>
                <section id="tools">
                    <h4 class="text-right">Tools that we need</h4>
                    <dl>
                        <dt>NodeJS:</dt>
                        <dd><a target="_blank" href="https://nodejs.org/en/download/current/"><em>https://nodejs.org/en/download/current/</em></a></dd>
                        <dt>IDE/Text Editor</dt>
                        <dd><em>Visual Studio Code, WebStorm, Sublime Text etc.</em></dd>
                        <dt>Git</dt>
                        <dd><a target="_blank" href="https://git-scm.com/downloads"><em>https://git-scm.com/downloads</em></a></dd>
                        <dt>Boilerplate Code</dt>
                        <dd><pre><code class="bash" style="font-size: 0.8em">git clone https://github.com/newventuresoftware/angular-demos.git</code></pre></dd>
                    </dl>
                </section>
                <!-- TypeScript -->
                <section>
                    <section id="typescript" data-background="./img/type-script-bg.jpeg" data-background-transition="zoom"></section>
                    <section data-background-color="#007ACC">
                        <h4 class="text-right">What is TypeScript?</h4>
                        <ul>
                            <li>Language created by <code>Microsoft</code>.</li>
                            <li>Has optional <code>static typing</code>.</li>
                            <li>Inherits concepts from <code>C#</code>.</li>
                            <li>Can use type definitions for <code>intellisense</code>.</li>
                            <li>Can use <code>JavaScript</code> libraries.</li>
                            <li><strong>Compiles to JavaScript</strong>.</li>
                        </ul>
                    </section>
                    <section>
                        <p><em>It's always better to catch errors at compile time rather that at runtime.</em></p>
                    </section>
                    <section data-background="#000">
                        <img alt="" src="./img/corleone-runtime.jpg" width="400" />
                    </section>
                    <section data-background-color="#007ACC">
                        <h4 class="text-right">Benefits of TypeScript</h4>
                        <ul>
                            <li>Due to <code>static typing</code>, it's more <strong>predictable</strong>.</li>
                            <li>Due to <code>modules, namespaces and stronger OOP</code>, it <strong>scales better</strong> for larger apps.</li>
                            <li>Due to <code>compilation step</code>, some errors are caught <strong>compile-time</strong>, not run-time.</li>
                        </ul>
                    </section>
                    <section id="typescript-venn">
                        <img src="./img/typescript-venn.png" class="no-border" width="300" />
                    </section>
                    <section>
                        <h4 class="text-right">Installing TypeScript</h4>
                        <div style="height: 50px"></div>
                        <p>Using the Node Package Manager.</p>
                        <pre><code class="bash">npm install --global typescript</code></pre>
                        <div style="height: 50px"></div>
                    </section>
                    <section>
                        <h4 class="text-right">Compiling TypeScript</h4>
                        <p>TypeScript is written in .ts files, which can't be used directly in the browser.<br/>It need to be translated to vanilla .js first.</p>
                        <pre><code class="bash">tsc main.ts</code></pre>
                    </section>
                    <section>
                        <h4 class="text-right">tsconfig.json</h4>
                        <p>Specifies the way TS is compiled.<br/>(autogeneratable with tsc --init)</p>
                        <pre><code class="json">{
  "compilerOptions": {
    "target": "es5", // Sets the output JS's version
    "module": "commonjs", // Sets the module loader
    "outDir": "dist", // Sets output JS files' location
    "sourceMap": true, // Allows debugging
    "noEmitOnError": true // Do not compile if errors
  }
}</code></pre>
                    </section>
                    <section id="ts-summary" data-background="./img/ts.png" class="color-white">
                        <h3>Language Features</h3>
                    </section>
                    <section data-background="#000">
                        <img alt="" src="./img/montanta-type-checker.jpg-large" width="500" class="no-border" />
                    </section>
                    <section data-background-color="#007ACC" class="color-white">
                        <h3>Static Type System</h3>
                        <p><em>&ldquo;Strongly typed languages reduce bugs by 15%.&rdquo;</em></p>
                    </section>
                    <section data-background="./img/ts.png" class="color-white">
                        <h3>Classes</h3>
                    </section>
                    <section data-background="./img/ts.png" class="color-white">
                        <h3>Interfaces</h3>
                    </section>
                    <section data-background="./img/ts.png" class="color-white">
                        <h3>Generics</h3>
                        <p>
                            <em>Class&lt;T&gt;</em>
                        </p>
                    </section>
                    <section data-background="./img/ts.png" class="color-white">
                        <h3>Modules</h3>
                        <p>
                            <em>import / export</em>
                        </p>
                    </section>
                    <section data-background="./img/ts.png" class="color-white">
                        <h4>EcmaScript 6</h4>
                        <h4>EcmaScript 7</h4>
                        <h4>EcmaScript Next</h4>
                    </section>
                </section>
                <section>
                    <p><em>Every time a new JS Framework comes up...</em></p>
                    <img alt="" src="./img/it-js-frameworks.jpg" width="450" class="no-border" />
                </section>
                <section>
                    <p><em>...but not this time.</em></p>
                    <img alt="" src="http://blog.soshace.com/wp-content/uploads/2016/08/tumblr_o1n96vth4D1ufi43qo1_500.png"/>
                </section>
                <!-- Angular -->
                <section>
                    <section id="ng-intro" data-background="https://images.contentful.com/99yi1k2r2plr/5u7inaJyMgE4IQky6ywKem/0ff02c1e622784bb66c523e7d32607ee/Screen_Shot_2017-08-25_at_2.38.34_PM.png" data-background-transition="zoom"></section>
                    <section id="ng-overview" data-background-color="#315FBE">
                        <div>
                            <img alt="" src="./img/ng-logo-text.png" class="no-border bg-transparent" width="500" />
                        </div>
                        <p>A developer platform for building mobile and desktop web apps using TypeScript/JavaScript and other languages.</p>
                        <p>Consists of several libraries, some of them core and some optional.</p>
                    </section>
                    <section id="ng-framework" data-background-color="#000" data-background-transition="zoom">
                        <h3>Framework</h3>
                        <img src="./img/ng-framework.png" class="no-border" />
                    </section>
                    <section id="ng-architecture">
                        <h3>Architecture</h3>
                        <div>
                            <img alt="" src="./img/ng-architecture.png" class="no-border" />
                        </div>
                    </section>
                    <section>
                        <p><em>With all the front-end build tools, setting up a project can be tedious.</em></p>
                        <img alt="" src="./img/front-end-build-tools.png" class="no-border" width="500" />
                    </section>
                    <section data-background-color="#000">
                        <img src="./img/configs-meme.jpg" />
                    </section>
                    <section>
                        <p><span><strong>Angular CLI solves this problem!</strong></span></p>
                        <img width="350" src="./img/frodo.jpeg" class="fragment" />
                    </section>
                    <section id="ng-cli" data-background-color="#315FBE">
                        <div class="col col-left">
                            <h3><strong>angular-cli</strong></h3>
                            <ul>
                                <li>Project initializer</li>
                                <li>
                                    Generating:
                                    <ul>
                                        <li>Components</li>
                                        <li>Services</li>
                                        <li>Directives</li>
                                        <li>Pipes</li>
                                    </ul>
                                </li>
                                <li>Linting</li>
                                <li>Building</li>
                                <li>And many more...</li>
                            </ul>
                        </div>
                        <div class="col col-right">
                        <img alt="" src="./img/ng-cli-logo.png" width="300" class="no-border bg-transparent" />
                        </div>
                    </section>
                    <section id="ng-cli-demo">
                        <h3>Live Demo</h3>
                        <p>Setting up a project with the Angular CLI</p>
                        <img alt="" src="./img/dog-coder.jpeg" width="500" />
                    </section>
                    <section id="ng-cli-exercise">
                        <h4 class="text-right">Angular CLI</h4>
                        <dl style="font-size: 0.8em">
                            <dt>Install NodeJS</dt>
                            <dd><a target="_blank" href="https://nodejs.org/en/download/">https://nodejs.org/en/download/</a></dd>
                            <dt>Install Angular CLI</dt>
                            <dd><pre><code class="bash">npm install -g @angular/cli</code></pre></dd>
                            <dt>Initialize a project</dt>
                            <dd><pre><code class="bash">ng new movies</code></pre></dd>
                            <dt>Navigate to the project root.</dt>
                            <dd><pre><code class="bash">cd movies</code></pre></dd>
                            <dt>Run the project</dt>
                            <dd><pre><code class="bash">ng serve</code></pre></dd>
                        </dl>
                    </section>
                    <section id="ng-modules" data-background="./img/telerik-bg.jpg">
                        <img src="./img/ng-logo.png" width="120" class="no-border bg-transparent" style="position: absolute; top: -40%; right: -10%;" />
                        <h3>Modules</h3>
                        <pre><code>@NgModule({
  imports:      [ BrowserModule ],
  declarations: [ AppComponent ],
  bootstrap:    [ AppComponent ]
})
export class AppModule { }</code></pre>
                    </section>
                    <section id="ng-modules-bullets" data-background-color="#315FBE">
                        <img src="./img/ng-logo.png" width="120" class="no-border bg-transparent" style="position: absolute; top: -20%; left: -15%;" />
                        <h4 class="text-right">What is @NgModule?</h4>
                        <ul style="font-size: 0.9em;">
                            <li>A <strong><em>decorator function</em></strong> that takes a single metadata object whose properties describe the module.</li>
                            <li>Tells Angular how to <strong><em>compile and run</em></strong> the module code.</li>
                            <li>Consolidates components, directives and services into <strong><em>cohesive blocks</em></strong> of functionality.</li>
                            <li>It can import other modules for reusing their Components, Directives etc.</li>
                        </ul>
                    </section>
                    <section id="ng-components" data-background="./img/telerik-bg.jpg">
                        <h3>Components</h3>
                        <img src="./img/ng-logo.png" width="170" class="no-border bg-transparent" />
                        <p>@Component()</p>
                    </section>
                    <section id="ng-components-bullets" data-background-color="#315FBE">
                        <h4 class="text-right">Components in Angular</h4>
                        <ul>
                            <li>The basic UI building block in Angular.</li>
                            <li>Control the view.</li>
                            <li>Represent anything visible to the end user.</li>
                            <li>Angular <strong>creates, updates and destroys</strong> components as the user moves through the app.</li>
                            <li>Angular provides <strong>view encapsulation</strong> by default which enables the <strong>Shadow DOM</strong></li>
                        </ul>
                    </section>
                    <section id="shadow-dom">
                        <h4 class="text-right">Shadow DOM</h4>
                        <ul>
                            <li><code>Shadow DOM</code> is just normal DOM with two differences: <ol>
                                <li>how it's created/used and </li>
                                <li>how it behaves in relation to the rest of the page</li>
                            </ol>
                            </li>
                            <li><p><code>Shadow DOM</code> is designed as a tool for building component-based apps</p>
                                <ul>
                                    <li>Angular uses components<ul>
                                        <li>It addresses the <code>DOM</code> tree encapsulation problem</li>
                                        <li>Allows us to <strong>hide</strong> <code>DOM</code> logic behind other elements</li>
                                    </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                    <section id="shadow-dom-2">
                        <h4 class="text-right">Shadow DOM</h4>
                        <ul>
                            <li><code>Isolated DOM</code> -  A component's DOM is self-contained <ul>
                                <li><code>document.querySelector()</code> won't return nodes in the component's shadow DOM</li>
                            </ul>
                            </li>
                            <li><code>Scoped CSS</code> -  CSS defined inside shadow DOM is scoped to it</li>
                        </ul>
                    </section>
                    <section id="view-encapsulation" data-background-color="#315FBE">
                        <h4 class="text-right">View Encapsulation</h4>
                        <ul>
                            <li>Angular comes with view encapsulation by default which enables Shadow DOM</li>
                            <li>There are three view encapsulation types available<ul>
                                <li><code>None</code> - no Shadow DOM and no encapsulation</li>
                                <li><code>Emulated</code> <strong>(default)</strong> - no Shadow DOM but there is encapsulation of the views</li>
                                <li><code>Native</code> - native Shadow DOM</li>
                            </ul>
                            </li>
                        </ul>
                    </section>
                    <section id="ng-component-tree">
                        <h3>Component Tree</h3>
                        <img src="./img/ng-component-tree.PNG" class="no-border" />
                    </section>
                    <section id="ng-data-binding" data-background-color="#315FBE">
                        <img src="./img/ng-logo.png" width="120" class="no-border bg-transparent" style="position: absolute; top: -40%; right: -15%;" />
                        <h3>Data Binding</h3>
                        <p>{{}} () [] [()]</p>
                        <p>A mechanism for coordinating the view with the application data.</p>
                    </section>
                    <section id="ng-data-binding-overview">
                        <h4 class="text-right">Data Binding Types</h4>
                        <img class="no-border" alt="" src="./img/ng-databinding.png" />
                    </section>
                    <section id="ng-components-demo">
                        <h3>Live Demo</h3>
                        <p>Creating Angular Components</p>
                        <img alt="" src="./img/dog-coder.jpeg" width="500" />
                    </section>
                    <section id="ng-directives" data-background-color="#315FBE">
                        <h3>Pipes & Directives</h3>
                        <img src="./img/ng-logo.png" width="150" class="no-border bg-transparent" />
                        <p><em>@Pipe() <br/>@Directive()</em></p>
                    </section>
                    <section id="pipes-overview" data-background-color="#353334">
                        <h4 class="text-right">What are Pipes?</h4>
                        <table>
                            <tr>
                                <td>
                                    <ul style="font-size: 0.6em">
                                        <li>A way to write display-value transformations that can be declared in the HTML.</li>
                                        <li>A pipe takes in data as <strong>input</strong> and transforms it to a desired <strong>output</strong>.</li>
                                        <li>Angular comes with a <strong>stock of pipes</strong> such as <em>DatePipe, UpperCasePipe, CurrencyPipe...</em></li>
                                        <li>Pipes can be chained together in potentially useful combinations.</li>
                                    </ul>
                                    <pre><code><p>Name: {{ name | uppercase }}</p></code></pre>
                                </td>
                                <td style="vertical-align: top; padding-top: 0">
                                    <img src="./img/dicaprio-pipe.jpg" width="300"  />
                                </td>
                            </tr>
                        </table>
                    </section>
                    <section id="directives-overview" data-background-color="#315FBE">
                        <img src="./img/ng-logo.png" width="120" class="no-border bg-transparent" style="position: absolute; top: -50%; left: -15%;" />
                        <h4 class="text-right">What are Directives?</h4>
                        <p>Directives aim to extends the static nature of HTML. They allow creating custom elements, attributes and even control flow inside the HTML.</p>
                    </section>
                    <section id="directive-types" data-background-color="#315FBE">
                        <img src="./img/ng-logo.png" width="120" class="no-border bg-transparent" style="position: absolute; top: -50%; left: -15%;" />
                        <h4 class="text-right">Directives Types</h4>
                        <ul style="font-size: 0.8em">
                            <li><strong>Components</strong> - directives with a template.</li>
                            <li><strong>Structural</strong> - change the DOM layout by adding and removing DOM elements<em>(*ngIf, *ngFor)</em>.</li>
                            <li><strong>Attribute</strong> - change the appearance or behavior of an element, component, or another directive<em>(NgStyle, NgClass)</em>.</li>
                        </ul>
                    </section>
                    <section id="ng-directives-pipes-demo">
                        <h3>Live Demo</h3>
                        <p>Working with Directives and Pipes</p>
                        <img alt="" src="./img/dog-coder.jpeg" width="500" />
                    </section>
                    <section id="ng-di-services" data-background-color="#353334">
                        <h3>Dependency Injection and Services</h3>
                        <img src="./img/ng-logo.png" width="170" class="no-border bg-transparent" />
                        <p>@Injectable()</p>
                    </section>
                    <section id="di-about" data-background-color="#353334">
                        <h4>What is Dependency Injection(DI)?</h4>
                        <p class="fragment" style="font-size: 0.9em">A <strong>design principle</strong> in which a class should receive its dependencies from external sources rather than creating them itself.</p>
                    </section>
                    <section id="no-di-example">
                        <h4 class="text-right">DI Example</h4>
                        <div>
                            <pre><code>class Car {
    public engine: Engine;

    constructor() {
        this.engine = new Engine();
    }
}</code></pre>
                        </div>
                        <div class="color-red">
                            <p class="fragment"><span><em>What is the problem here?</em></span></p>
                            <ul style="font-size: 0.8em">
                                <li class="fragment">Tight coupling between <strong>Car</strong> and <strong>Engine</strong></li>
                                <li class="fragment">If the definition of <strong>Engine</strong> changes, <strong>Car</strong> must also change.</li>
                                <li class="fragment"><strong>Engine</strong> cannot be shared among <strong>Car</strong> instances.</li>
                                <li class="fragment">Is it possible to create an Engine in a test environment?</li>
                            </ul>
                        </div>
                    </section>
                    <section id="di-example">
                        <h4 class="text-right">DI Example</h4>
                        <div>
                            <pre><code>class Car {
    public engine: Engine;

    constructor(engine: Engine) {
        this.engine = engine;
    }
}</code></pre>
                        </div>
                        <p class="color-green" style="font-size: 0.9em"><span><em>The class now receives its dependencies in the constructor.</em></span></p>
                        <pre><code>const engine: Engine = new HybridEngine();
const car = new Car(engine);</code></pre>
                    </section>
                    <section id="ng-di" data-background-color="#353334">
                        <img src="./img/ng-logo.png" width="120" class="no-border bg-transparent" style="position: absolute; top: -50%; right: -10%;" />
                        <p>Angular ships with its own dependency injection framework. This framework can also be used as a standalone module by other applications and frameworks.</p>
                    </section>
                    <section id="ng-services-about" data-background-color="#353334">
                        <img src="./img/ng-logo.png" width="120" class="no-border bg-transparent" style="position: absolute; top: -40%; left: -10%;" />
                        <h3 class="text-right">Services</h3>
                        <ul style="font-size: 0.9em">
                            <li>A service is nothing more than a class in Angular. It remains nothing more than a class until registered with an Angular injector.</li>
                            <li>You don't have to create an Angular injector. Angular creates an application-wide injector for you during the bootstrap process.</li>
                        </ul>
                    </section>
                    <section id="ng-services-img">
                        <h4 class="text-right">DI & Services</h4>
                        <img src="./img/ng-injector.png" width="600" class="no-border" />
                    </section>
                    <section id="ng-providers">
                        <h3>Providers</h3>
                        <ul style="font-size: 0.9em">
                            <li>A provider is something that can create or deliver a service.</li>
                            <li>The providers are registered in the app module.</li>
                        </ul>
                        <div class="fragment">
                            <pre><code>@NgModule({
  imports: [BrowserModule],
  providers: [UserService],
  declarations: [App],
  bootstrap: [App]
})
export class AppModule { }</code></pre>
                            <pre><code>platformBrowserDynamic().bootstrapModule(AppModule);</code></pre>
                        </div>
                    </section>
                    <section id="services-demo">
                        <h3>Live Demo</h3>
                        <p>Services and DI</p>
                        <img alt="" src="./img/dog-coder.jpeg" width="500" />
                    </section>
                    <section id="ng-routing" data-background="./img/the-long-history-of-route-66.jpg">
                        <h3 class="color-white"><span>Routing in Angular</span></h3>
                        <div><img src="./img/ng-logo.png" width="150" class="no-border bg-transparent" /></div>
                        <div style="height: 175px"></div>
                    </section>
                    <section id="routing-overview">
                        <h4 class="text-right">What is Routing?</h4>
                        <ul>
                            <li>Routing the standard way to navigate in a web applications.</li>
                            <li>Each unique route must always return the same page.</li>
                        </ul>
                    </section>
                    <section id="routing-demo">
                        <h3>Live Demo</h3>
                        <p>Angular Routing.</p>
                        <img alt="" src="./img/dog-coder.jpeg" width="500" />
                    </section>
                    <section id="reactive-programming" data-background-color="#315FBE">
                        <h4>Reactive Programming</h4>
                        <ul style="font-size: 0.8em">
                            <li>Programming with asynchronous data streams.</li>
                            <li>You are able to create data streams of anything.</li>
                            <li>A stream is a sequence of ongoing events ordered in time.</li>
                            <li>A stream can be used as an input to another one.</li>
                            <li>It emits <strong>three different things</strong><ul>
                                <li>a value (of some type)</li>
                                <li>an error</li>
                                <li>a complete method</li>
                            </ul>
                            </li>
                        </ul>
                    </section>
                    <section id="observables" data-background-color="#fff">
                        <h4>RxJS and Observables</h4>
                        <img class="no-border" src="./img/ng-rxjs.png" width="200" style="position: absolute; top: -40%; right: -15%;" />
                        <p>Set of libraries for composing asynchronous and event-based programs using observable sequences</p>
                        <pre><code class="js">const subscription = source
    .filter(quote => quote.price > 30)
    .map(quote => quote.price)
    .forEach(price => console.log(price));</code></pre>
                        <!-- You can think of an observable as an array whose items arrive asynchronously over time. Observables help you manage asynchronous data,
                             such as data coming from a backend service. Observables are used within Angular itself, including Angular’s event system and its http client
                        service. To use observables, Angular uses a third-party library called Reactive Extensions (RxJS). -->
                    </section>
                    <section data-background-color="#72088F">
                        <div>
                            <img alt="" src="./img/rx-filter.png" width="450" class="no-border" />
                        </div>
                        <hr/>
                        <div>
                            <img alt="" src="./img/rx-map.png" width="450" class="no-border" />
                        </div>
                    </section>
                    <section id="cold-hot-observables">
                        <h4 class="text-right">Cold vs Hot</h4>
                        <ul style="font-size: 0.7em">
                            <li><p><strong>Cold observables</strong> start running upon subscription</p>
                                <ul>
                                    <li>The observable sequence only starts pushing values to the observers when <strong>Subscribe is called</strong></li>
                                </ul>
                            </li>
                            <li><p><strong>Hot observables</strong> are ones that are pushing even when you are not subscribed to the observable</p>
                                <ul>
                                    <li>Like mouse moves, or Timer ticks, etc.</li>
                                </ul>
                            </li>
                            <li><p>It’s not always possible from the subscriber side to know whether you are dealing with a cold or hot Observable</p>
                            </li>
                        </ul>
                    </section>
                    <section id="observable-vs-promise">
                        <table>
                            <thead>
                                <tr>
                                    <th style="text-align:center">Observables</th>
                                    <th style="text-align:center">Promise</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align:center">Observables handle multiple values over time</td>
                                    <td style="text-align:center">Promises are only called once and will return a single value</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center">Observables are cancellable</td>
                                    <td style="text-align:center">Promises are not cancellable</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center">Observables are lazy</td>
                                    <td style="text-align:center">Promises NOT</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                    <section id="ng-http"  data-background-color="#315FBE">
                        <img src="./img/ng-logo.png" width="120" class="no-border bg-transparent" style="position: absolute; top: -30%; left: -10%;" />
                        <h4>Angular HTTP</h4>
                        <ul>
                            <li>Angular's http service delegates the client/server communication tasks to a helper service called the XHRBackend</li>
                            <li>Register for HTTP services<ul>
                                <li>Import the <strong>HttpModule</strong></li>
                            </ul>
                            </li>
                            <li>Can work with both <em>Observables</em> and <em>Promises</em>.</li>
                        </ul>
                    </section>
                    <section id="ng-http-example">
                        <h4 class="text-right">
                            Angular HTTP Example
                        </h4>
                        <pre><code class="ts">// Fetch all existing comments
getComments() : Observable&lt;Comment[]&gt; {
    // ...using get request
    return this.http.get('/api/comments')
        // ...and calling .json() on the response to return data
        .map((res:Response) => res.json())
        //...errors if any
        .catch((error:any) => Observable.throw(error.json().error));
}</code></pre>
                        <pre><code class="ts">service.getComments()
    .subscribe(comments => this.comments = comments);</code></pre>
                    </section>
                    <section>
                        <h3>Live Demo</h3>
                        <p>Observables and HTTP.</p>
                        <img alt="" src="./img/dog-coder.jpeg" width="500" />
                    </section>
                    <section id="ng-lifecycle">
                        <h3>Angular Lifecycle</h3>
                        <p><em>ngOnInit()</em></p>
                        <img class="no-border" width="300" src="./img/lifecycle.jpg" />
                    </section>
                    <section id="ng-lifecycle-about" data-background-color="#315FBE">
                        <div><img src="./img/ng-logo.png" width="150" class="no-border bg-transparent" /></div>
                        <p>Angular calls lifecycle hook methods on directives and components as it <strong>creates, changes, and destroys</strong> them.</p>
                    </section>
                    <section id="ng-lifecycle-hooks" style="font-size: 0.6em" data-background-color="#fff">
                        <h4 class="text-right">Lifecycle Sequence</h4>
                        <table>
                            <tr class="typescript">
                                <td><strong>Constructor</strong></td>
                                <td><em>The constructor has been invoked.</em></td>
                            </tr>
                            <tr>
                                <td><strong>OnChanges</strong></td>
                                <td><em>The data-bound input properties have been (re)set.</em></td>
                            </tr>
                            <tr>
                                <td><strong>OnInit</strong></td>
                                <td><em>The component/directive has been initialized.</em></td>
                            </tr>
                            <tr>
                                <td><strong>DoCheck</strong></td>
                                <td><em>Detect and act upon changes that Angular can't or won't detect on its own.</em></td>
                            </tr>
                            <tr class="component-only">
                                <td><strong>AfterContentInit</strong></td>
                                <td><em>After Angular projects external content into the component's view.</em></td>
                            </tr>
                            <tr class="component-only">
                                <td><strong>AfterContentChecked</strong></td>
                                <td><em>After Angular checks the content projected into the component.</em></td>
                            </tr>
                            <tr class="component-only">
                                <td><strong>AfterViewInit</strong></td>
                                <td><em>After Angular initializes the component's views and child views.</em></td>
                            </tr>
                            <tr class="component-only">
                                <td><strong>AfterViewChecked</strong></td>
                                <td><em>Called just before Angular destroys the directive/component.</em></td>
                            </tr>
                            <tr>
                                <td><strong>OnDestroy</strong></td>
                                <td><em>After Angular checks the component's views and child views.</em></td>
                            </tr>
                        </table>
                        <p>
                            <small>*
                                <span class="typescript">TypeScript</span>,
                                <span class="components-and-directives">Components & Directives</span>,
                                <span class="component-only">Component Only</span>
                            </small>
                        </p>
                    </section>
                </section>
                <!-- Kendo -->
                <section>
                    <section data-background="./img/telerik-bg.jpg" id="kendo-intro">
                        <h2>Kendo UI for Angular</h2>
                        <img alt="" src="./img/kendoka-09-350.png" class="no-border bg-transparent" />
                        <img alt="" src="./img/ng-logo.png" width="300" class="no-border bg-transparent" />
                    </section>
                    <section data-background="./img/telerik-bg.jpg" id="kendo-bullets">
                        <img src="./img/kendoka-03-350.png" width="200" class="no-border bg-transparent" style="position: absolute; top: -40%; left: -15%;" />
                        <h4 class="text-right">What is Kendo UI for Angular?</h4>
                        <ul>
                            <li>Native Angular Component Suite.</li>
                            <li>Each component group represents a separate Angular module.</li>
                            <li>Distributed via NPM (nodejs package manager).</li>
                            <li>Offers Unlimited Support.</li>
                        </ul>
                    </section>
                    <section>
                        <h4 class="text-right">Installation</h4>
                        <p>Kendo UI for Angular components are distributed via npm.</p>
                        <pre><code class="bash">npm install --save [kendo-component]</code></pre>
                        <p>Every component represents a separate Angular module.</p>
                    </section>
                    <section data-background="./img/telerik-bg.jpg">
                        <h3>Live Demo</h3>
                        <p>Components in Action</p>
                        <img alt="" src="./img/kendoka-08-350.png" class="no-border" width="300" />
                    </section>
                    <section id="common-features">
                        <p>Kendo UI is much more that a component suite.</p>
                        <img alt="" src="./img/common-features.PNG" class="no-border" />
                    </section>
                    <section id="data-query">
                        <h4>Data Query</h4>
                        <p style="font-size: 0.8em">The Data Query provides functions that help you handle the following bulk data operations: <br/>
                            <em>sorting, filtering, grouping, aggragates</em>
                        </p>
                        <a style="font-size: 0.8em" href="https://www.telerik.com/kendo-angular-ui/components/dataquery/api/" target="_blank">telerik.com/kendo-angular-ui/components/dataquery/api/</a>
                    </section>
                    <section data-background="./img/bg-pattern.png" class="color-white" id="theme-builder">
                        <img alt="" src="./img/progress_mainLogo.png" class="no-border bg-transparent" width="700" />
                        <p>Kendo UI for Angular</p>
                    </section>
                </section>
                <!-- Deployment -->
                <section>
                    <section id="deployment" data-background="./img/rocket-launch-day-illustration.png" class="color-black">
                        <h2>Deployment</h2>
                        <p>building for development and production</p>
                    </section>
                    <section>
                        <p class="color-white"><code class="bash" style="background: black">ng build [--prod]</code></p>
                        <p>Publish the contents of the generated <code style="color: blue">dist/</code> folder to a web server.</p>
                    </section>
                    <section id="ng-tooling" data-background-color="#353334">
                        <div class="col col-left">
                            <h3>Tooling</h3>
                            <ul>
                                <li class="fragment">Ahead-Of-Time Compiler</li>
                                <li class="fragment">Module Loader</li>
                                <li class="fragment">
                                    Testing
                                    <ul>
                                        <li>Unit testing</li>
                                        <li>e2e testing</li>
                                        <li>Code Coverage</li>
                                    </ul>
                                </li>
                                <li class="fragment">Bundler (Tree Shaking)</li>
                                <li class="fragment">Linter (TypeScript and CSS)</li>
                                <li class="fragment">Minifier</li>
                            </ul>
                        </div>
                        <div class="col col-right">
                            <img alt="" src="./img/ng-logo.png" class="no-border bg-transparent" width="300" />
                        </div>                        
                    </section>
                    <section id="ng-build-prod">
                        <p class="color-white"><code class="bash" style="background: black">ng build --prod</code></p>
                        <table style="font-size: 0.6em">
                            <tr>
                                <td><strong>AOT Compilation</strong></td>
                                <td><span class="fragment">Pre-compiles Angular component templates.</span></td>
                            </tr>
                            <tr>
                                <td><strong>Bundling</strong></td>
                                <td><span class="fragment">Concatenates modules into a single file.</span></td>
                            </tr>
                            <tr>
                                <td><strong>Inlining</strong></td>
                                <td><span class="fragment">Pulls template html and css into the components.</span></td>
                            </tr>
                            <tr>
                                <td><strong>Minification</strong></td>
                                <td><span class="fragment">Removes excess whitespace, comments, and optional tokens.</span></td>
                            </tr>
                            <tr>
                                <td><strong>Uglification</strong></td>
                                <td><span class="fragment">Rewrites code to use short, cryptic variable and function names.</span></td>
                            </tr>
                            <tr>
                                <td><strong>Dead Code Elimination</strong></td>
                                <td><span class="fragment">Removes unreferenced modules and unused code.</span></td>
                            </tr>
                            <tr>
                                <td><strong>Prune Libraries</strong></td>
                                <td><span class="fragment">Drop unused libraries and pare others down to the features you need.</span></td>
                            </tr>
                        </table>
                    </section>
                    <section id="debugging">
                        <h3>Debugging</h3>
                        <img alt="" src="./img/Debug.jpg" class="no-border" width="300" />
                        <p style="font-size: 0.8em">The TypeScript compiler generates source map files, which allow browsers to recover the original source code from the compiled javascript.</p>
                    </section>
                    <section id="code-quality" data-background-color="#000">
                        <h3>Ensuring Code Quality</h3>
                        <p style="background: #000" class="color-white"><code>>_ ng lint</code></p>
                    </section>
                    <section id="ng-nativescript" data-background-color="#315FBE">
                        <h3>Angular + NativeScript</h3>
                        <img alt="" src="./img/ng-nativescript.png" class="bg-transparent no-border" />
                    </section>
                </section>
                <section id="learning-resources" data-background="./img/school-board.jpg">
                    <h3 class="color-white"><span>Learning Resources</span></h3>
                    <ul style="list-style-type: none">
                        <li><a target="_blank" href="https://angular.io/docs">angular.io/docs</a></li>
                        <li><a target="_blank" href="https://angular.io/resources">angular.io/resources</a></li>
                        <li><a target="_blank" href="http://www.telerik.com/kendo-angular-ui/">telerik.com/kendo-angular-ui/</a></li>
                        <li><a target="_blank" href="https://www.typescriptlang.org/docs/home.html">typescriptlang.org/docs/home.html</a></li>
                        <li><a target="_blank" href="https://angular.io/guide/styleguide">angular.io/guide/styleguide</a></li>
                        <li><a target="_blank" href="https://newventuresoftware.com/blog">newventuresoftware.com/blog</a></li>
                    </ul>
                </section>
                <section id="questions">
                    <h3>Questions?</h3>
                    <img class="" src="./img/cats-staring.jpg" width="500" />
                </section>
                <section id="end">
		            <h2>Thank You!</h2>
		            <table>
			            <tbody>
                            <tr>
				                <td><img class="no-border" src="./img/email.png" style="width:70px"></td>
				                <td style="vertical-align:middle"> <a href="mailto:denis@newventuresoftware.com?Subject=Hello" target="_blank">denis@newventuresoftware.com</a></td>
			                </tr>
			                <tr>
				                <td><img class="no-border" src="./img/github.png" width="70"></td>
				                <td style="vertical-align:middle"> <a href="https://github.com/deniskyashif" target="_blank">github.com/deniskyashif</a></td>
			                </tr>
                            <tr>
				                <td><img class="no-border" src="./img/twitter.png" width="70"></td>
				                <td style="vertical-align:middle"><a href="https://twitter.com/deniskyashif" target="_blank">@deniskyashif</a></td>
			                </tr>
			            </tbody>
		            </table>
		        </section>
			</div>
            <section class="reveal-shared">
		        <div class="nvs-logo-container">
		            <a href="http://www.newventuresoftware.com/" target="_blank">
			            <img class="no-border" src="./img/nvs-logo.svg" width="150"/>
                    </a>
		        </div>
                <div class="nvs-website-bar"><span class="nvs-website-text brackets">www.newventuresoftware.com</span></div>
	        </section>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
		 // More info about config & dependencies:
		 // - https://github.com/hakimel/reveal.js#configuration
		 // - https://github.com/hakimel/reveal.js#dependencies
		 Reveal.initialize({
             history: true,
             progress: true,
             touch: true,
			 dependencies: [
				 { src: 'plugin/markdown/marked.js' },
				 { src: 'plugin/markdown/markdown.js' },
				 { src: 'plugin/notes/notes.js', async: true },
				 { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
			 ],
             slideNumber: 'c/t'
		 });
		</script>
	</body>
</html>
