.reveal .no-border{
    border: 0;
    box-shadow: none;
}

.reveal .nvs-logo-container {
    padding-left: 15px;
}

.reveal #speaker-info {
    font-size: 30px;
}

.reveal #speaker-info .speaker-img-container {
    margin-right: 25px;
}

.reveal #speaker-info .speaker-img-container, .speaker-contact-info {
    display: inline-block;
}

.reveal .color-white * {
    color: #fff;
}

.reveal .color-red * {
    color: red;
}

.reveal .color-yellow * {
    color: yellow;
}

.reveal .bg-transparent {
    background: transparent;
}

.reveal .col {
    display: inline-block;
}

.reveal .col-right {
    vertical-align: top;
    padding-top: 10%;
}

.reveal .text-right {
    text-align: right;
}

#ng-lifecycle-hooks table tr {
    background-color: #ef5770;
    color: white;    
}

#ng-lifecycle-hooks .typescript * {
    background-color: #0082a8;
    color: white;
}

#ng-lifecycle-hooks .component-only * {
    background-color: #d9e963;
    color: black;
}
