<div id="nav-section" class="column">
    <h1 id="dash-logo" class="center-block">{{title}}</h1>
    <ul class="nav">
        <li>
            <a routerLink="/regional-sales-status"><span class="icon icon-chart-column"></span>Regional Sales Status</a>
        </li>
        <li>
            <a routerLink="/products-and-orders"><span class="icon icon-star-empty"></span>Products &amp; Orders</a>
        </li>
        <li>
            <a routerLink="/team-efficiency"><span class="icon icon-faves"></span>Team Efficiency</a>
        </li>
    </ul>
    <div id="rights">
        <p>Copyright &copy; New Venture Software</p>
    </div>
</div>
<div id="main-section">
    <router-outlet></router-outlet>
</div>
